body {
	background-color: #CDD1D8;
	margin: 0;
}

* {
	font-family: "Calibri";
	/*font-family: "Arial";*/
	/*display:inline-block;*/
	font-size: 1rem;
}

#container {
	max-width: 50em;
	margin: 0em auto;
}

#header {
	background-color: #F8F6FD;
	padding: 1em 2em;
	overflow: hidden;
	/*box-shadow: 0em 1em 3em -.2em #f00;*/
	top: 0;
	position: sticky;
}

#header img {
	text-align: left;
	position: absolute;
	top: .5em;
}

#header ul, .linkList {
	margin: auto;
	padding: 0em;
	list-style-type: none;
}
#header ul li, .linkList li {
	display: inline;
	margin-left: .55em;
	text-align: center;
}

#content {
	background-color: #EDEAE8;
	padding: 2em;
}

#side-bar {
	position: fixed;
}

#footer {
	background-color: #F8F6FD;
	padding: 1em 2em;
	height: 5em;
}

#footer ul {
	margin: auto;
	list-style-type: none;
}

#up img {
	position: fixed;
	height: 1em;
	width: 1em;
	/*top: 3em;*/
	right: 3em;
	bottom: 3em;
}

#sideBar {

}

.embed {
	border: 2px solid #FF133A;
	border-radius: 0.5em;
	margin: 1em;
	padding: 0.5em 0.5em;
	display: inline-block;
}

.embed .title {
	margin: 0em;
	background-color: #EDEAE8;
	position: relative;
	bottom: 1.25em;
	display: inline-block;
}

.embed .title h5 {
	margin: 0em;
	background-color: #EDEAE8;
	padding: 0em 0.5em;
}

.embed .description {
	margin: 0em;
	padding: 0em;
	text-indent: 0em;
}

.embed span {
	text-align: right;
	width: 100%;
	display: block;
	font-size: 0.8em;
	font-style: italic;
	/*float: left;*/
}

.center {
	/*width: 50%;*/
	margin: auto auto;
	/*float: center;*/
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}


.logo {
	/*filter: hue-rotate(150deg) saturate(78%) brightness(100%);*/
	width: 2em;
	height: 2em;
}

img {
	display: inline-block;
	/*display: block;*/
}

div {
	display: block;
}

a {
	font-size: inherit;
	color: #000; 
	text-decoration: none;
}


a:hover, .defaultLinks a:hover {
	font-size: inherit;
	color: #FA4688;
	background-color: transparent;
	text-decoration: none;
}

a:active, .defaultLinks a:active {
	font-size: inherit;
	text-decoration: underline;
}

.defaultLinks a{
	color: blue;
}
.defaultLinks a:visited{
	color: purple;
}

h1 {
	font-size: 1.8em;
	margin: 1.2em auto .5em auto;
	text-align: center;
	padding-bottom: .2em;
	border-bottom: 1px solid #555;
}

h2 {
	font-size: 1.5em;
	margin: 1em auto .5em auto;
	padding-bottom: .2em;
	border-bottom: 1px solid #555;
}

h3 {
	font-size: 1.5em;
	margin: 1em auto .2em auto;
}

h4 {
	font-size: 1.2em;
	margin: 1em auto .2em auto;
}

h5 {
	font-size: 1em;
	margin: 1em auto 0em auto;
}

h6 {
	font-size: 1em;
	margin: 1em auto 0em auto;
	color: #555;
}

p {
	margin: 0em;
	margin-bottom: .3em;
	text-indent: 0em;
}
div p:nth-child(n+2) {
 	margin-bottom: .3em;
	text-indent: 2.3em;
}

.toolTip {
	position: relative;
	display: inline-block;
}

.toolTip-content {
	display: none;
	position: absolute;
	left: .2em;
	background-color: #F8F6FD;
	box-shadow: 0em .5em 1em 0em #00000077;
	padding: .3em;
	border-radius: .33em;
}

.toolTip:hover .toolTip-content {
	display: block;
}

code {
	font-family: "roboto mono";
	font-size: 13px;
	background-color: #CDD1D8;
	display: inherit;
	overflow-x: auto;
	padding: .8em;
	margin:1em 0em;
	border-radius: .2em;
	border: .2em solid #828086;
	border-bottom: .2em solid #F8F6FD;
	border-right: .2em solid #F8F6FD;
	box-shadow: 1.9em 2.3em 3.1em -3.3em inset;
}

/*
comment
operator
keyword
number
string
variable
error
*/


code .hll {background-color: #ffffcc;}
code .c {color: #408080; font-style: italic;} /* Comment */
code .err {border: 1px solid #FF0000; border-radius: 3px} /* Error */
code .k {color: #008000; font-weight: bold;} /* Keyword */
code .o {color: #666666;} /* Operator */
code .cm {color: #408080; font-style: italic;} /* Comment.Multiline */
code .cp {color: #BC7A00;} /* Comment.Preproc */
code .c1 {color: #408080; font-style: italic;} /* Comment.Single */
code .cs {color: #408080; font-style: italic;} /* Comment.Special */
code .gd {color: #A00000;} /* Generic.Deleted */
code .ge {font-style: italic;} /* Generic.Emph */
code .gr {color: #FF0000;} /* Generic.Error */
code .gh {color: #000080; font-weight: bold;} /* Generic.Heading */
code .gi {color: #00A000;} /* Generic.Inserted */
code .go {color: #888888;} /* Generic.Output */
code .gp {color: #000080; font-weight: bold;} /* Generic.Prompt */
code .gs {font-weight: bold;} /* Generic.Strong */
code .gu {color: #800080; font-weight: bold;} /* Generic.Subheading */
code .gt {color: #0044DD;} /* Generic.Traceback */
code .kc {color: #008000; font-weight: bold;} /* Keyword.Constant */
code .kd {color: #008000; font-weight: bold;} /* Keyword.Declaration */
code .kn {color: #008000; font-weight: bold;} /* Keyword.Namespace */
code .kp {color: #008000;} /* Keyword.Pseudo */
code .kr {color: #008000; font-weight: bold;} /* Keyword.Reserved */
code .kt {color: #B00040;} /* Keyword.Type */
code .m {color: #666666;} /* Literal.Number */
code .s {color: #BA2121;} /* Literal.String */
code .na {color: #7D9029;} /* Name.Attribute */
code .nb {color: #008000;} /* Name.Builtin */
code .nc {color: #0000FF; font-weight: bold;} /* Name.Class */
code .no {color: #880000;} /* Name.Constant */
code .nd {color: #AA22FF;} /* Name.Decorator */
code .ni {color: #999999; font-weight: bold;} /* Name.Entity */
code .ne {color: #D2413A; font-weight: bold;} /* Name.Exception */
code .nf {color: #0000FF;} /* Name.Function */
code .nl {color: #A0A000;} /* Name.Label */
code .nn {color: #0000FF; font-weight: bold;} /* Name.Namespace */
code .nt {color: #008000; font-weight: bold;} /* Name.Tag */
code .nv {color: #19177C;} /* Name.Variable */
code .ow {color: #AA22FF; font-weight: bold;} /* Operator.Word */
code .w {color: #bbbbbb;} /* Text.Whitespace */
code .mf {color: #666666;} /* Literal.Number.Float */
code .mh {color: #666666;} /* Literal.Number.Hex */
code .mi {color: #666666;} /* Literal.Number.Integer */
code .mo {color: #666666;} /* Literal.Number.Oct */
code .sb {color: #BA2121;} /* Literal.String.Backtick */
code .sc {color: #BA2121;} /* Literal.String.Char */
code .sd {color: #BA2121; font-style: italic;} /* Literal.String.Doc */
code .s2 {color: #BA2121;} /* Literal.String.Double */
code .se {color: #BB6622; font-weight: bold;} /* Literal.String.Escape */
code .sh {color: #BA2121;} /* Literal.String.Heredoc */
code .si {color: #BB6688; font-weight: bold;} /* Literal.String.Interpol */
code .sx {color: #008000;} /* Literal.String.Other */
code .sr {color: #BB6688;} /* Literal.String.Regex */
code .s1 {color: #BA2121;} /* Literal.String.Single */
code .ss {color: #19177C;} /* Literal.String.Symbol */
code .bp {color: #008000;} /* Name.Builtin.Pseudo */
code .vc {color: #19177C;} /* Name.Variable.Class */
code .vg {color: #19177C;} /* Name.Variable.Global */
code .vi {color: #19177C;} /* Name.Variable.Instance */
code .il {color: #666666;} /* Literal.Number.Integer.Long */