* {
	font-family: "Calibri";
}

body {
	background-color: #272736;
	margin: 0;
}

#container {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 828px) 1fr;
	grid-template-areas:
		'. header .'
		'galleryTrain galleryTrain galleryTrain'
		'sideNav content .'
		'. footer .'
		'. footerImg .';
}

#header {
	z-index: 100;
	grid-area: header;
	background-color: #c2c2d1;
	padding: 1em 2em;
}

#header img {
	text-align: left;
	position: absolute;
	top: .5em;
}

#sideNav ul, #footer ul, .linkList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.linkList li {
	margin-left: .5em;
	display: inline;
}

#sideNav {
	grid-area: sideNav;
	padding: .5em 2em;
	margin-left: auto;
	/*top: 3em;*/
	/*position: fixed;*/
}

#content {
	grid-area: content;
	background-color: #c2c2d1;
	padding: 2em;
	z-index: 10;
}


#galleryTrain {
	grid-area: galleryTrain;
	height: 279px;
	/* height: 318px; */
}

#galleryTrain canvas {
	position: relative;
	width: 100% !important;
	height: 318px !important;
	top:-24px;
}

#webglContainer canvas {
	width:  100% !important;
	border:  #858585 1px solid;
	border-radius: 2px;
}

#webglContainer textarea {
	width:  100%;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	font-family:monospace;
	padding: 8px;
	border:  #858585 1px solid;
	border-radius: 2px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;

	     
}

.horizontal {
	display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 2px;
}

#beltTop {
	position:absolute;
	width: 18px;
	height: 24px;
	image-rendering: pixelated;

}

#beltBottom {
	position: absolute;
	width: 18px;
	height: 24px;
	image-rendering: pixelated;
	bottom: 353px;
	left: 0px;
}

#screen {
	display: grid;
	grid-template-columns: 21px min-content 18px;
	grid-template-areas: 
	'left img right'
	'bottom bottom bottom';
	width: min-content;
	height: min-content;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

#screen #left {
	width: 21px;
	height: 66px;
	grid-area: left;
}
#screen #right {
	width: 18px;
	height: 45px;
	grid-area: right;
}
#screen #img {
	margin-top: 6px;
	grid-area: img;
}
#screen #bottom {
	grid-area: bottom;
	height: 12px;
	width: calc(100% - 21px);
	margin-left: 12px;
	margin-right: 9px;
}

#screen img {
	image-rendering: pixelated;
}


#footer {
	grid-area: footer;
	background-color: #c2c2d1;
	padding: 1em 2em;
}

#footerImg {
	width: 100%;
	grid-area: footerImg;
	image-rendering: pixelated;
}

#up img {
	position: fixed;
	height: 1em;
	width: 1em;
	right: 3em;
	bottom: 1em;
}

.center {
	margin: auto auto;
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.logo {
	/*filter: hue-rotate(150deg) saturate(78%) brightness(100%);*/
	width: 2em;
	height: 2em;
}

a {
	font-size: inherit;
	color: #000; 
	text-decoration:underline;
}


a:hover, .defaultLinks a:hover {
	font-size: inherit;
	color: #FA4688;
	background-color: transparent;
	text-decoration: none;
}

a:active, .defaultLinks a:active {
	font-size: inherit;
}

.defaultLinks a{
	color: rgb(30, 84, 192);
}
.defaultLinks a:visited{
	color: purple;
}

h1 {
	font-size: 1.8em;
	margin: 1.2em auto .5em auto;
	text-align: center;
	padding-bottom: .2em;
	border-bottom: 1px solid #555;
}

h2 {
	font-size: 1.5em;
	margin: 1em auto .5em auto;
	padding-bottom: .2em;
	border-bottom: 1px solid #555;
}

h3 {
	font-size: 1.5em;
	margin: 1em auto .2em auto;
}

h4 {
	font-size: 1.2em;
	margin: 1em auto .2em auto;
}

h5 {
	font-size: 1em;
	margin: 1em auto 0 auto;
}

h6 {
	font-size: 1em;
	margin: 1em auto 0 auto;
	color: #555;
}

p {
	margin: 0;
	margin-bottom: .3em;
	text-indent: 10em;
}
div p:nth-child(n+2) {
 	margin-bottom: .3em;
	text-indent: 2.3em;
}

.toolTip {
	position: relative;
	display: inline-block;
}

.toolTip-content {
	display: none;
	position: absolute;
	left: .2em;
	background-color: #F8F6FD;
	box-shadow: 0 .5em .7em 0 #00000077;
	padding: .3em;
	border-radius: .33em;
}

.toolTip:hover .toolTip-content {
	display: block;
}


.inline-code {
	font-family: monospace;
}

.code {
	width:  100%;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	fill: #e0e0e0;
	font-family: monospace;


	padding: 8px;
	border:  #858585 1px solid;
	border-radius: 2px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	-moz-tab-size : 4;
	  -o-tab-size : 4;	
}